@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
